<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form class="form-signin" *ngIf="addUserForm" [formGroup]="addUserForm" (ngSubmit)="onSubmit()" >
      <div class="form-group">
      </div>
      <div class="form-group">
        <label for="mail">Email</label>
        <input type="text" formControlName="mail" class="form-control col-sm-10" id="mail" placeholder="Entrez l'email" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control col-sm-10" id="password" placeholder="Entrez le mot de passe" />
      </div>
      <div class="form-group">
        <label for="userDateOfBirth">Date de naissance</label>
        <input type="text" formControlName="userDateOfBirth" class="form-control col-sm-10" id="userDateOfBirth" placeholder="Entrez la date de naissance" />
      </div>
      <div class="form-group">
        <label for="userEntryDate">Date entrée</label>
        <input type="text" formControlName="userEntryDate" class="form-control col-sm-10" id="userEntryDate" placeholder="Entrez la date d'entrée" />
      </div>
      <div class="form-group">
        <label for="userLastname">Nom</label>
        <input type="text" formControlName="userLastname" class="form-control col-sm-10" id="userLastname" placeholder="Entrez le nom" />
      </div>
      <div class="form-group">
        <label for="userName">Prénom</label>
        <input type="text" formControlName="userName" class="form-control col-sm-10" id="userName" placeholder="Entrez le prénom" />
      </div>
      <div class="form-group">
        <label for="userNss">Numéro sécurité sociale</label>
        <input type="text" formControlName="userNss" class="form-control col-sm-10" id="userNss" placeholder="Entrez le numéro de sécurité sociale" />
      </div>
      <div class="form-group">
        <label for="userPhone">Téléphone</label>
        <input type="text" formControlName="userPhone" class="form-control col-sm-10" id="userPhone" placeholder="Entrez le numéro de téléphone" />
      </div>
      <div class="form-group">
        <label for="userUsername">Pseudo</label>
        <input type="text" formControlName="userUsername" class="form-control col-sm-10" id="userUsername" placeholder="Entrez le pseudo" />
      </div>
      <div class="form-group">
        <label class="mr-sm-2" for="roleId">Choisir un projet </label>
        <select formControlName="roleId" id="roleId" class="custom-select mr-sm-2">
          <option *ngFor="let role of roles" value="{{role.roleId}}">{{role.roleType}}</option>
        </select>
      </div>

      <button type=submit" class="btn btn-primary btn-block">Sign Up</button>
  </form>
  </div>
</div>
