<div class="container" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
    <h3 class="text-center">
      {{currentUser.nameUser}} {{currentUser.userLastname}}
    </h3>
  </header>
  <ul>
    <li>
      <strong>Email:</strong>
      {{ currentUser.userMail }}
    </li>
    <li>
      <strong>Username:</strong>
      {{ currentUser.userUsername }}
    </li>
    <li>
      <strong>Address:</strong>
      {{ currentUser.address.addressNumber }} {{ currentUser.address.addressStreet }}, {{ currentUser.address.addressCity }} {{ currentUser.address.addressCountry }}
    </li>
    <li>
      <strong>Phone:</strong>
      {{ currentUser.userPhone }}
    </li>
    <li>
      <strong>Nss:</strong>
      {{ currentUser.userNss }}
      </li>
    <li>
      <strong>Birthday:</strong>
      {{ currentUser.userDateOfBirth | date:'shortDate'}}
    </li>
  </ul>

  <h1 class="text-center">Tous les trips effectués</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">TripName</th>
      <th scope="col">Center</th>
      <th scope="col">Infos</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trip of currentUser.trips">
        <td>Trip n°{{trip.tripId}} du centre {{trip.center.centerName}}</td>
        <td>{{trip.center.centerName}}</td>
        <td>
          <a class="btn btn-primary" routerLink="../trip/detail/{{trip.tripId}}">Info du trip</a>
        </td>

      </tr>
    </tbody>
  </table>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
