<h1 class="text-center">Séjour</h1>

<div class="col-md-12 ">
  <div class="card card-container   w-75">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Libellé</th>
        <th scope="col">Debut</th>
        <th scope="col">Fin</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let trip of trips">
        <td>{{trip.center.centerName}} - {{trip.client.clientWording}}</td>
        <td>{{trip.tripStartDate | date:'shortDate'}}</td>
        <td>{{trip.tripEndDate | date:'shortDate'}}</td>

        <td>
          <button (click)="onRemoveTrip(trip.tripId)" class="btn btn-danger">Supprimer</button>
          <button type="button" data-keyboard="false" data-backdrop="static" (click)="updateTrip(trip.tripId)" class="btn btn-primary" data-toggle="modal" data-target="#updateDialog">Modifier</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<app-update-trip *ngIf="charged" [tripId]="idTrip" [displayTrip]="displayTrip"></app-update-trip>

