<h1 class="text-center">Gestion des Clients</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">clientId</th>
    <th scope="col">clientWording</th>
    <th scope="col">clientMail</th>
    <th scope="col">clientPhone</th>
    <th scope="col">clientAddress</th>
    <th scope="col">Supprimer</th>
    <th scope="col">Modifier</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let client of clients">
    <td>{{client.clientId}}</td>
    <td>{{client.clientWording}}</td>
    <td>{{client.clientMail}}</td>
    <td>{{client.clientPhone}}</td>
    <td>{{client.addressId}}</td>
    <td>
      <button (click)="onRemoveClient(client.clientId)" class="btn btn-primary">Supprimer</button>
    </td>
    <td>
      <a (click)="updateClient(client.clientId)" class="btn btn-primary">Modifier</a>
    </td>
  </tr>
  </tbody>
</table>
