<h1 class="text-center">Gestion des Clients</h1>
<div class="w-75 col-md-12">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Recherche par nom"
        [(ngModel)]="title"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin-top: 2rem">
  <pagination-controls
    previousLabel="Prev"
    nextLabel="Next"
    [responsive]="true"
    (pageChange)="handlePageChange($event)"
    class="col-2"
  ></pagination-controls>
  Items per Page:
  <select (change)="handlePageSizeChange($event)" class="col-2" style="margin-left: 3rem">
    <option *ngFor="let size of pageSizes" [ngValue]="size">
      {{ size }}
    </option>
  </select>
</div>

<div class="col-md-12 ">
  <div class="card card-container   w-75">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">ID  </th>
        <th scope="col">Nom  </th>
        <th scope="col">Email  </th>
        <th scope="col">Telephone  </th>
        <th scope="col">Adresse</th>
        <th scope="col">Supprimer</th>
        <th scope="col">Modifier</th>
        <th scope="col">Liste séjours</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let client of clients | paginate : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index" [class.active]="i == currentIndex">
        <td>{{client.clientId}}</td>
        <td>{{client.clientWording}}</td>
        <td>{{client.clientMail}}</td>
        <td>{{client.clientPhone}}</td>
        <td>{{client.address.addressNumber}}, {{client.address.addressStreet}}-{{client.address.addressCity}} / {{client.address.addressCountry}}</td>
        <td>
          <button (click)="onRemoveClient(client.clientId)" class="btn btn-danger">Supprimer</button>
        </td>
        <td>
          <button type="button" (click)="updateClient(client.clientId)" class="btn btn-primary" data-toggle="modal" data-target="#updateClient">
            Modifier
          </button>
        </td>
        <td>
          <a (click)="searchSejours(client.clientId)"  class="btn btn-primary">Voir séjours</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<app-update-client *ngIf="charged" [parentClientId]="id" [displayClient]="displayClient"></app-update-client>
