<div class="modal fade  px-1 py-5 mx-auto" id="updateClient" tabindex="-1" data-keyboard="false" data-backdrop="static" aria-labelledby="updateClientLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="card-title text-center">Modifier le client</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">x</button>
      </div>
      <div class="modal-body">
        <form class="form-signing" *ngIf="updateClientForm" [formGroup]="updateClientForm" (ngSubmit)="onSubmit()">

          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3" for="clientWording">ClientWording <span class="text-danger">*</span></label>
              <input type="text" formControlName="clientWording" class="form-control col-sm-10" id="clientWording"
                     placeholder="Entrez le nom du client"/>
            </div>
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3" for="clientMail">Mail <span class="text-danger">*</span></label>
              <input type="text" formControlName="clientMail" class="form-control col-sm-10" id="clientMail"
                     placeholder="Entrez le mail du client"/>
            </div>
          </div>
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3" for="clientPhone">Telephone <span class="text-danger">*</span></label>
              <input type="text" formControlName="clientPhone" class="form-control col-sm-10" id="clientPhone"
                     placeholder="Entrez le numéro de téléphone du client"/>
            </div>
          </div>

          <div class="row justify-content-between text-left" formGroupName="address">
            <div class="form-group col-sm-6 flex-column d-flex">
              <input type="hidden" formControlName="addressId">
              <label class="form-control-label px-3" for="addressNumber">Numéro de rue <span class="text-danger">*</span></label>
              <input type="number" formControlName="addressNumber" class="form-control col-sm-10" id="addressNumber"
                     placeholder="Entrez le numéro de rue"/>
            </div>
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3" for="addressStreet">Rue <span class="text-danger">*</span></label>
              <input type="text" formControlName="addressStreet" class="form-control col-sm-10" id="addressStreet"
                     placeholder="Entrez le nom de la rue"/>
            </div>
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3" for="addressCity">Ville <span class="text-danger">*</span></label>
              <input type="text" formControlName="addressCity" class="form-control col-sm-10" id="addressCity"
                     placeholder="Entrez la ville"/>
            </div>
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3" for="addressCountry">Pays <span class="text-danger">*</span></label>
              <input type="text" formControlName="addressCountry" class="form-control col-sm-10" id="addressCountry"
                     placeholder="Entrez le pays de résidence"/>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="form-group col-sm-6">
              <button type="submit" class="btn-block btn-info">Mettre à jour</button>
              <button type="button" class="btn-block btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
