<div class="modal fade" id="updateClient" tabindex="-1" data-keyboard="false" data-backdrop="static" aria-labelledby="updateClientLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="card-title text-center">Modifier le client</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="form-signing" *ngIf="updateClientForm" [formGroup]="updateClientForm" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label for="clientWording">ClientWording <span class="text-danger">*</span> :</label>
            <input type="text" formControlName="clientWording" class="form-control col-sm-10" id="clientWording"
                   placeholder="Entrez le nom du client"/>
          </div>

          <div class="form-group">
            <label for="clientMail">Mail <span class="text-danger">*</span> :</label>
            <input type="text" formControlName="clientMail" class="form-control col-sm-10" id="clientMail"
                   placeholder="Entrez le mail du client"/>
          </div>

          <div class="form-group">
            <label for="clientPhone">Telephone <span class="text-danger">*</span> :</label>
            <input type="text" formControlName="clientPhone" class="form-control col-sm-10" id="clientPhone"
                   placeholder="Entrez le numéro de téléphone du client"/>
          </div>

          <div class="form-group" formGroupName="address">
            <input type="hidden" formControlName="addressId">
            <label for="addressNumber">Numéro de rue <span class="text-danger">*</span> :</label>
            <input type="number" formControlName="addressNumber" class="form-control col-sm-10" id="addressNumber"
                   placeholder="Entrez le numéro de rue"/>

            <label for="addressStreet">Rue <span class="text-danger">*</span> :</label>
            <input type="text" formControlName="addressStreet" class="form-control col-sm-10" id="addressStreet"
                   placeholder="Entrez le nom de la rue"/>

            <label for="addressCity">Ville <span class="text-danger">*</span> :</label>
            <input type="text" formControlName="addressCity" class="form-control col-sm-10" id="addressCity"
                   placeholder="Entrez la ville"/>

            <label for="addressCountry">Pays <span class="text-danger">*</span> :</label>
            <input type="text" formControlName="addressCountry" class="form-control col-sm-10" id="addressCountry"
                   placeholder="Entrez le pays de résidence"/>
          </div>

          <button type="submit" class="btn btn-primary">Envoyer</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </form>
      </div>
    </div>
  </div>
</div>
