<h1 class="text-center">Gestion des {{title}} </h1>
<div class="col-md-12">
    <form class="form-signin" *ngIf="searchUserLastnameForm" [formGroup]="searchUserLastnameForm" (ngSubmit)="onSubmit()">
      <label for="userLastname">Recherche :
      <input type="text" formControlName="userLastname" class="form-control" id="userLastname" placeholder="Entrez le nom" />
      <button type="submit" class="btn btn-primary" >Recherche</button></label>
    </form>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Lastname</th>
    <th scope="col">Mail</th>
    <th scope="col">DateOfBirth</th>
    <th scope="col">EntryDate</th>
    <th scope="col">Nss</th>
    <th scope="col">Phone</th>
    <th scope="col">Username</th>
    <th scope="col">Address</th>
    <th scope="col">Role</th>
    <th scope="col">Supprimer</th>
    <th scope="col">Modifier</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{user.userId}}</td>
    <td>{{user.nameUser}}</td>
    <td>{{user.userLastname}}</td>
    <td>{{user.userMail}}</td>
    <td>{{user.userDateOfBirth}}</td>
    <td>{{user.userEntryDate}}</td>
    <td>{{user.userNss}}</td>
    <td>{{user.userPhone}}</td>
    <td>{{user.userUsername}}</td>
    <td>{{user.address.addressNumber}} {{user.address.addressStreet}} {{user.address.addressCity}}, {{user.address.addressCountry}}</td>
    <td>{{user.role.roleType}}</td>
    <td>
      <button (click)="onRemoveUser(user.userId)" class="btn btn-primary">Supprimer</button>
    </td>
    <td>
      <a routerLink="../update/{{user.userId}}" class="btn btn-primary">Modifier</a>
    </td>
  </tr>
  </tbody>
</table>
