<h1 class="text-center">Gestion des employés</h1>
<div class="col-md-12">
  <div class="card card-container">
    <form class="form-signin" *ngIf="searchUserLastnameForm" [formGroup]="searchUserLastnameForm" (ngSubmit)="onSubmit()">
      <label for="userLastname">Entrez le nom :</label>
      <input type="text" formControlName="userLastname" class="form-control col-sm-10" id="userLastname" placeholder="Entrez le nom" />
      <button type="submit">Rechercher :</button>
    </form>
  </div>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">userId</th>
    <th scope="col">userName</th>
    <th scope="col">userLastname</th>
    <th scope="col">mail</th>
    <th scope="col">userDateOfBirth</th>
    <th scope="col">userEntryDate</th>
    <th scope="col">userNss</th>
    <th scope="col">userPhone</th>
    <th scope="col">userUsername</th>
    <th scope="col">address</th>
    <th scope="col">role</th>
    <th scope="col">Supprimer</th>
    <th scope="col">Modifier</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{user.userId}}</td>
    <td>{{user.nameUser}}</td>
    <td>{{user.userLastname}}</td>
    <td>{{user.userMail}}</td>
    <td>{{user.userDateOfBirth}}</td>
    <td>{{user.userEntryDate}}</td>
    <td>{{user.userNss}}</td>
    <td>{{user.userPhone}}</td>
    <td>{{user.userUsername}}</td>
    <td>{{user.address.addressNumber}} {{user.address.addressStreet}} {{user.address.addressCity}}, {{user.address.addressCountry}}</td>
    <td>{{user.role.roleType}}</td>
    <td>
      <button (click)="onRemoveUser(user.userId)" class="btn btn-primary">Supprimer</button>
    </td>
    <td>
      <a routerLink="../update/{{user.userId}}" class="btn btn-primary">Modifier</a>
    </td>
  </tr>
  </tbody>
</table>
