<h1 class="text-center">Gestion des {{title}} </h1>
<div class="col-md-12 w-75">
    <form class="form-signin" *ngIf="searchUserLastnameForm" [formGroup]="searchUserLastnameForm" (ngSubmit)="onSubmit()">
      <label for="userLastname">Recherche :
      <input type="text" formControlName="userLastname" class="form-control" id="userLastname" placeholder="Entrez le nom" />
      <button type="submit" class="btn btn-primary" >Recherche</button></label>
    </form>
</div>
<div class="col-md-12 w-75">
  <div class="card card-container   w-75">
    <table class="table table-striped w-75">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Lastname</th>
        <th scope="col">Mail</th>
        <th scope="col">DateOfBirth</th>
        <th scope="col">EntryDate</th>
        <th scope="col">Nss</th>
        <th scope="col">Phone</th>
        <th scope="col">Username</th>
        <th scope="col">Role</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.userId}}</td>
        <td>{{user.nameUser}}</td>
        <td>{{user.userLastname}}</td>
        <td>{{user.userMail}}</td>
        <td>{{user.userDateOfBirth | date}}</td>
        <td>{{user.userEntryDate | date}}</td>
        <td>{{user.userNss}}</td>
        <td>{{user.userPhone}}</td>
        <td>{{user.userUsername}}</td>
        <td>{{user.role.roleType}}</td>
        <td>
          <button (click)="onRemoveUser(user.userId)" class="btn btn-danger">Supprimer</button>
          <button type="button" data-keyboard="false" data-backdrop="static" (click)="updateUser(user.userId)" class="btn btn-primary" data-toggle="modal" data-target="#updateUser">Modifier</button>
          <button (click)="detailUser(user.userId)" class="btn btn-dark">Detail</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<app-update-user *ngIf="charged" [userId]="idUser" [displayUser]="displayUser"></app-update-user>

