<h1 class="text-center">Centre de Vacances</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">image</th>
    <th scope="col">nom</th>
    <th scope="col">email</th>
    <th scope="col">telephone</th>
    <th scope="col">commentaire</th>
    <th scope="col">Adresse</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let center of centers">
    <td>{{center.centerPicture}}</td>
    <td>{{center.centerName}}</td>
    <td>{{center.centerMail}}</td>
    <td>{{center.centerPhone}}</td>
    <td>{{center.centerComment}}</td>
    <td>{{center.centerAdresse}}</td>
    <td>
      <button (click)="onRemoveCenter(center.centerid)" class="btn btn-primary">Supprimer</button>
    </td>
    <td>
      <a (click)="updateCenter(center.centerid)" class="btn btn-primary">Modifier</a>
    </td>
    <td>
      <a (click)="detailCenter(center.centerid)" class="btn btn-primary">Details projet</a>
    </td>
  </tr>
  </tbody>
</table>
