<div class="container-fluid px-1 py-5 mx-auto">
  <div class="row d-flex justify-content-center">
    <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
      <div class="card card-signing my-5">
        <div class="card-body">
          <h5 class="card-title mb-4 text-center">Entrez le client à ajouter</h5>
          <form class="form-signing " [formGroup]="addClientForm" (ngSubmit)="onSubmit()">
            <div class="row justify-content-between text-left">
              <div class="form-group col-sm-6 flex-column d-flex">
                <label class="form-control-label px-3" for="clientWording">ClientWording <span class="text-danger">*</span></label>
                <input type="text" formControlName="clientWording" id="clientWording"
                       placeholder="Entrez le nom du client"/>
              </div>
              <div class="form-group col-sm-6 flex-column d-flex">
                <label class="form-control-label px-3" for="clientMail">Mail <span class="text-danger">*</span></label>
                <input type="text" formControlName="clientMail" class="form-control col-sm-10" id="clientMail"
                       placeholder="Entrez le mail du client"/>
              </div>
            </div>
            <div class="row justify-content-between text-left">
              <div class="form-group col-sm-6 flex-column d-flex">
                <label class="form-control-label px-3" for="clientPhone">Telephone <span class="text-danger">*</span></label>
                <input type="text" formControlName="clientPhone" class="form-control col-sm-10" id="clientPhone"
                       placeholder="Entrez le numéro de téléphone du client"/>
              </div>
            </div>

            <div class="form-group" formGroupName="clientAddress">
              <div class="row justify-content-between text-left">
                <div class="form-group col-sm-6 flex-column d-flex">
                  <label class="form-control-label px-3" for="addressNumber">Numéro de rue <span class="text-danger">*</span></label>
                  <input type="text" formControlName="addressNumber" class="form-control col-sm-10" id="addressNumber"
                         placeholder="Entrez le numéro de rue"/>
                </div>
                <div class="form-group col-sm-6 flex-column d-flex">
                  <label class="form-control-label px-3" for="addressStreet">Rue <span class="text-danger">*</span></label>
                  <input type="text" formControlName="addressStreet" class="form-control col-sm-10" id="addressStreet"
                         placeholder="Entrez le nom de la rue"/>
                </div>
              </div>
              <div class="row justify-content-between text-left">
                <div class="form-group col-sm-6 flex-column d-flex">
                  <label class="form-control-label px-3" for="addressCity">Ville <span class="text-danger">*</span></label>
                  <input type="text" formControlName="addressCity" class="form-control col-sm-10" id="addressCity"
                         placeholder="Entrez la ville"/>
                </div>
                <div class="form-group col-sm-6 flex-column d-flex">
                  <label class="form-control-label px-3" for="addressCountry">Pays <span class="text-danger">*</span></label>
                  <input type="text" formControlName="addressCountry" class="form-control col-sm-10" id="addressCountry"
                         placeholder="Entrez le pays de résidence"/>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="form-group col-sm-6">
                <button type="submit" class="btn-block btn-info">Envoyer</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
