<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signing my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Modifiez le centre</h5>
          <form class="form-signing" *ngif="updateCenterForm" [formGroup]="updateCenterForm" (ngSubmit)="onSubmit()">

            <label for="centerPicture">Image :</label>
            <input type="text" formControlName="centerPicture" class="form-control col-sm-10" id="centerPicture" placeholder="Telechargez image" />


            <label for="centerName">Nom  :</label>
            <input type="text" formControlName="centerName" class="form-control col-sm-10" id="centerName" placeholder="Entrez Nom du Centre" />


            <label for="centerMail">Email :</label>
            <input type="email" formControlName="centerMail" class="form-control col-sm-10" id="centerMail" placeholder="Entrez l'email" />


            <label for="centerPhone">Téléphone :</label>
            <input type="text" formControlName="centerPhone" class="form-control col-sm-10" id="centerPhone" placeholder="Entrez le numero de telephone " />


            <label for="centerComment">Commentaire :</label>
            <input type="text" formControlName="centerComment" class="form-control col-sm-10" id="centerComment" placeholder="Entrez un commentaire" />

            <div class="form-group" formGroupName="address">
              <label for="addressNumber">Numeros :</label>
              <input type="number" formControlName="addressNumber" class="form-control col-sm-10" id="addressNumber" placeholder="Entrez le numeros" />
              <label for="addressStreet">Rue :</label>
              <input type="text" formControlName="addressStreet" class="form-control col-sm-10" id="addressStreet" placeholder="Entrez la rue" />
              <label for="addressNumber">Ville :</label>
              <input type="text" formControlName="addressCity" class="form-control col-sm-10" id="addressCity" placeholder="Entrez la ville" />
              <label for="addressCountry">Pays :</label>
              <input type="text" formControlName="addressCountry" class="form-control col-sm-10" id="addressCountry" placeholder="Entrez le pays" />
            </div>
            <button type="submit" class="btn btn-primary">Envoyer</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
