<div class="modal fade  px-1 py-5 mx-auto" id="updateCenter" tabindex="-1" data-keyboard="false" data-backdrop="static" aria-labelledby="updateCenterLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="card-title text-center">Modifiez le centre</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">x</button>
      </div>
      <div class="modal-body">
        <form class="form-signing" *ngIf="updateCenterForm" [formGroup]="updateCenterForm" (ngSubmit)="onSubmit() ">

          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3" for="centerPicture">Image URL</label>
              <input type="text" formControlName="centerPicture" class="form-control col-sm-10" id="centerPicture"
                     placeholder="Url de l'image"/>
            </div>
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3" for="centerName">Nom</label>
              <input type="text" formControlName="centerName" class="form-control col-sm-10" id="centerName"
                     placeholder="Entrez Nom du Centre" />
            </div>
          </div>
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3" for="centerMail">Email</label>
              <input type="email" formControlName="centerMail" class="form-control col-sm-10" id="centerMail"
                     placeholder="Entrez l'email"/>
            </div>
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3" for="centerPhone">Téléphone</label>
              <input type="text" formControlName="centerPhone" class="form-control col-sm-10" id="centerPhone"
                     placeholder="Entrez le numero de telephone "/>
            </div>
          </div>
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3" for="centerComment">Commentaire</label>
              <input type="text" formControlName="centerComment" class="form-control col-sm-10" id="centerComment"
                     placeholder="Entrez un commentaire"/>
            </div>
          </div>
          <div class="row justify-content-between text-left" formGroupName="address">
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3" for="addressNumber">Numéro de rue <span class="text-danger">*</span></label>
              <input type="number" formControlName="addressNumber" class="form-control col-sm-10" id="addressNumber"/>
            </div>
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3" for="addressStreet">Rue <span class="text-danger">*</span></label>
              <input type="text" formControlName="addressStreet" class="form-control col-sm-10" id="addressStreet"
                     placeholder="Entrez le nom de la rue"/>
            </div>
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3" for="addressCity">Ville <span class="text-danger">*</span></label>
              <input type="text" formControlName="addressCity" class="form-control col-sm-10" id="addressCity"
                     placeholder="Entrez la ville"/>
            </div>
            <div class="form-group col-sm-6 flex-column d-flex">
              <label class="form-control-label px-3" for="addressCountry">Pays <span class="text-danger">*</span></label>
              <input type="text" formControlName="addressCountry" class="form-control col-sm-10" id="addressCountry"
                     placeholder="Entrez le pays de résidence"/>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="form-group col-sm-6">
              <button type="submit" class="btn-block btn-info">Mettre à jour</button>
              <button type="button" class="btn-block btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
          </div>


        </form>
      </div>
    </div>
  </div>
</div>
