<h5 class="card-title text-center">Modifiez le trip</h5>
<form class="form-signing" *ngIf="updateTripForm" [formGroup]="updateTripForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
  <label for="tripStartDate">Date de Debut :</label>
  <input type="date" formControlName="tripStartDate" class="form-control col-sm-10" id="tripStartDate" placeholder="Entrez la date de debut" />
  </div>

  <div class="form-group">
  <label for="tripEndDate">Date de Fin :</label>
  <input type="date" formControlName="tripEndDate" class="form-control col-sm-10" id="tripEndDate" placeholder="Entrez la date de fin " />
  </div>

  <div class="form-group" formGroupName="client">
  <label for="clientId">Client :</label>
  <select formControlName="clientId" class="form-control col-sm-10" id="clientId" >
  <option *ngFor="let client of clients" value="{{client.clientId}}">{{client.clientWording}}</option>
  </select>
  </div>

  <div class="form-group" formGroupName="center">
  <label for="centerId">Center :</label>
  <select formControlName="centerId" class="form-control col-sm-10" id="centerId" >
  <option *ngFor="let center of centers" value="{{center.centerId}}">{{center.centerName}}</option>
  </select>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
    <button type="submit" class="btn btn-primary" >Sauvegarder changement</button>
  </div>
</form>


